

.card-section {
    max-width: 18rem;
}

.btn-color {
    color: $color-bg;
}


.color-naranja {
    color: $color-primario;
}

.color-naranja:hover {
    text-decoration: underline;
    color: $color-secundario;
}

.border-custom{
    border-bottom: map-get($medidas, rem-sm) solid $color-primario;
}

.bg-custom {
    background-color: $color-primario;
}