

.card-section {
    max-width: 18rem;
}

.btn-color {
    color: #000000;
}


.color-naranja {
    color: #fe701a;
}

.color-naranja:hover {
    text-decoration: underline;
    color: #ffffff;
}

.border-custom{
    border-bottom: 5px solid #fe701a;
}

.bg-custom {
    background-color: #fe701a;
}