

footer{
    background-color: $color-primario ;
    gap: map-get($medidas, rem-sm) ;
    padding-top: map-get($medidas, rem-sm) ;
    justify-content: space-around;
    padding-bottom: map-get($medidas, rem-sm) ;
    text-align: center;
    p {
        background-color: $color-bg;
        color: $color-primario ;
        border-radius: map-get($medidas, rem-s) ;
    }
    img {
        width: 100px;
        height: auto;
        background-color: $color-bg;
        color: $color-primario ;
        border-radius: map-get($medidas, rem-s);
        position: relative;
    }
    a {
        text-decoration: none;
    }
   
}




a i.bxl-instagram-alt {
    position: relative;
    text-decoration: none;
    color: $color-bg;
    border-radius: map-get($medidas, rem-s);
    width: 50px;
    font-size: map-get($medidas, rem-xl);
}






