

footer{
    background-color: #fe701a;
    gap: 5px;
    padding-top: 5px;
    justify-content: space-around;
    padding-bottom: 5px;
    text-align: center;
    p {
        background-color: #000000;
        color: #fe701a;
        border-radius: 10px;
    }
    img {
        width: 100px;
        height: auto;
        background-color: #000000;
        color: #fe701a;
        border-radius: 10px;
        position: relative;
    }
    a {
        text-decoration: none;
    }
   
}




a i.bxl-instagram-alt {
    position: relative;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    width: 50px;
    font-size: 40px;
}






