




.backvideo{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;/*cubre todo el contenedor sin deformar*/

}

.color--text{
    color: $color-secundario;
    &:hover {
        color: $color-primario;
        text-decoration: underline;
    }
}



.h1mp{
    position: relative;
    color: $color-secundario;
    text-align: center; 
}

strong{
    color: $color-primario;
}


