



.historia{
    color: $color-secundario;
    text-align: center;
    padding: map-get($medidas, rem-xl);
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    line-height: 1.5;
    gap: 50px 0;
}

.historia-img img {
   
    height: auto;
    border-radius: map-get($medidas, rem-s);
}



.mainpagehistoria--div {
    padding: 0 150px 0 150px;
}

.title {
    font-size: 2em;
    color: $color-primario;
    text-align: center;
}

.subtitle {
    font-weight: 400;
    color: $color-primario;
    text-align: center;
}

.mainpagestrong {
    color: $color-primario;
}

.h2paginas {
    color: $color-primario;
    font-size: 3em;
    text-align: center;
    padding: 15px;
    justify-content: center;
}




.articlepaginas {
    border: 2px solid $color-primario;
    background-color: $color-bg;
    border-radius: map-get($medidas, rem-s);
    display: flex;
    flex-direction: column;
    
    padding-top: 15px;
    max-width: 100%;
    a {
        text-decoration: none;
        color: $color-primario;
        font-size: 1.5em; 
    }
    &:active {
        border: 2px solid $color-bg;
        background-color: $color-primario;
        color: $color-bg ;
    }

}



.paginasmp {
    text-align: center;
    max-width: 100%;
    padding: map-get($medidas, rem-m);
    margin: 0 auto;
}

.img-paginas {
    width: 193px;
    height: 193px;
}

.card-body > a {
    text-decoration: underline;
    color: $color-primario;
}
